<%- include('partials/head') %>

<div class="container mt-5">
  <div class="row text-center">
    <h2 class="mb-4">Register to Chatter</h2>
    <div class="col-md-6 mx-auto">
      <form action="/user/register" method="post">
        <div class="form-group mb-3">
          <input
            class="form-control"
            type="text"
            name="username"
            id="username"
            placeholder="Enter your username"
          />
          <em id="email-error"></em>
        </div>
        <div class="form-group mb-3">
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
          />
          <em id="password-error"></em>
        </div>
        <div class="form-group mb-3">
          <input
            class="form-control"
            type="password"
            name="confirmPassword"
            id="password"
            placeholder="Re-enter your password"
          />
          <em id="password-confirm-error"></em>
        </div>
        <button type="submit" class="btn btn-success">Register</button>
      </form>
      <p class="mt-2">
        If you already have an account
        <a href="/user/login" style="text-decoration: none">Login Here</a>
      </p>
    </div>
  </div>
</div>
<%- include('partials/foot') %>
